// Place all the styles related to the gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* label color */
 .input-field label {
   color: #000000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000000;
 }
