<%= form_for(@gig) do |f| %>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
            <%= f.select :gig_type do %>
                <option value="" disabled selected><%= f.label :gig_type, "Choose your option" %></option>
                  <% Gig::GIG_TYPE.each do |gig| %>
                  <%= content_tag(:option, gig,) %>
                  <%end%>
                  <%end%>
              <label> Choose Gig Type</label>
        </div>
        <div class="input-field col s6">
          <%= f.select :role do %>
              <option value="" disabled selected><%= f.label :role, "Choose your option" %></option>
                <% Gig::GIG_ROLE.each do |role| %>
                <%= content_tag(:option, role) %>
                <%end%>
                <%end%>
            <label> Choose Role</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <%=f.label :title %>
        <%=f.text_field :title, class: "validate" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%=f.label :description %>
          <%=f.text_area :description, class: "materialize-textarea" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :offer %>
          <%= f.text_field :offer, placeholder: "$" %>
        </div>
        <div class="input-field col s6">
          <%= f.select :offer_type do %>
              <option value="" disabled selected><%= f.label :offer_type, "Choose your option" %></option>
                <% Gig::OFFER_TYPE.each do |offer_type| %>
                <%= content_tag(:option, offer_type) %>
                <%end%>
                <%end%>
            <label> Choose Offer Type</label>
        </div>
      </div>
      <div class="row">
        <div> Choose Dates </div>
        <div class="input-field col s6">
          <%= f.date_field :from, class: "datepicker", placeholder: "From"%>
        </div>
        <div class="input-field col s6">
            <%= f.date_field :to, class: "datepicker", placeholder: "To"%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%=f.label :locations %>
          <%=f.text_area :locations, class: "materialize-textarea", placeholder: "Add locations seperated by commas." %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%=f.label :additional_info %>
          <%=f.text_area :additional_info, class: "materialize-textarea", placeholder: "Add Any additional Infos" %>
        </div>
      </div>
        <%= f.submit "Post", class: "btn black" %>
    </form>
  </div>
  <%end%>
