<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo"><span class="navtext">TheVanities.nyc</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"><span class="navtext">menu</span></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="navtext">Gigs</a></li>
        <li><a href="#" class="navtext">Help</a></li>
        <li><a href="#" class="navtext">About</a></li>
        <li><a href="#" class="navtext">Faq</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#" class="navtext">Gigs</a></li>
        <li><a href="#" class="navtext">Help</a></li>
        <li><a href="#" class="navtext">About</a></li>
        <li><a href="#" class="navtext">Faq</a></li>
      </ul>
  </div>
  </nav>
</div>
