<!DOCTYPE html>
<html>
<head>
  <title>Vanity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap'%>

</head>
<body>
<%= render 'layouts/navboot' %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
